/*
	RETINA

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	#home .hero{
		background: url(/assets/home/hero@2x.jpg) center center no-repeat;
		background-size: 1600px 446px;
	}

	#home .form-wrap .key{
		background: url(/assets/home/key@2x.png) 0 0 no-repeat;
		background-size: 46px 19px;
	}

	#refer .header .logo{
		background: url(/assets/refer/logo@2x.png) 0 0 no-repeat;
		background-size: 106px 19px;
	}

	#refer .mammoth{
		background: url(/assets/refer/mammoth@2x.png) 0 0 no-repeat;
		background-size: 610px 394px;
	}

	#refer .share-wrap .social-links .fb{
		background: url(/assets/refer/fb@2x.png);
		background-size: 27px 27px;
	}

	#refer .share-wrap .social-links .twit{
		background: url(/assets/refer/twit@2x.png);
		background-size: 27px 27px;
	}

	#refer .prizes .progress{
		background: url(/assets/refer/progress-bg@2x.png) 0 0 repeat-x;
		background-size: 1px 4px;
	}

	#refer .prizes .progress .mover .bar{
		background: url(/assets/refer/progress-done@2x.png) 0 0 repeat-x;
		background-size: 1px 4px;
	}

	#refer .prizes .progress .mover .razor{
		background: url(/assets/refer/razor@2x.png) 0 0 no-repeat;
		background-size: 82px 23px;
	}

	#refer .prizes .products li.product .caret{
		background: url(/assets/refer/caret@2x.png) center center no-repeat;
		background-size: 16px 10px;
	}

	#refer .prizes .products li.product.selected .caret{
		background: url(/assets/refer/caret-selected@2x.png) center center no-repeat;
		background-size: 16px 10px;
	}
}
*/