body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.alert.alert-danger {
  text-align: center;
  border-radius: 0;
  border: 0;
  background: #CD4441;
  color: #fff;
  margin-bottom: 0;
}

.privacy-policy {
  body {
    text-align: center;
  }
  p {
    margin: 20px 0;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

form {
  margin-bottom: 0;
}

.clearfix:before, .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.logo {
  width: 220px;
  height: 37px;
  display: inline-block;
}

/* Home */

#home {

  .hero {
    background: #d8d9db;
    background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(216,217,219,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(216,217,219,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(216,217,219,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(216,217,219,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(216,217,219,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(216,217,219,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d8d9db',GradientType=0 ); /* IE6-9 */
    width: 100%;

    .container {
      position: relative;
      max-height: 420px;
      width: 100%;
    }

    .large {
      text-align: center;
      margin-top: 30px;
      img {
        width: 160px;
      }
      span {
        font-weight: bold;
        font-size: 26px;
        vertical-align: bottom;
        line-height: 1.3;
      }
    }

    .reasons-list {
      width: 240px;
      display: block;
      margin: 40px auto 45px;
      position: relative;
      left: 20px;
      li {
        font-size: 19px;
        margin-bottom: 5px;
        i {
          color: #FF8300;
          float: right;
        }
      }
    }

    .devices {
      max-width: 320px;
      width: 90%;
      margin: 0 auto -10px;
      display: block;
    }

    @media (min-width: 768px) {
      .container {
        position: relative;
        height: 380px;
        width: 740px;
      }
      .devices {
        left: 0;
        bottom: -10px;
        max-width: 400px;
        margin: 0;
        position: absolute;
      }
      .reasons-list {
        position: absolute;
        bottom: 70px;
        right: 0;
        left: auto;
        width: auto;
        margin: 0;
        li {
          font-size: 22px;
        }
      }
      .large {
        text-align: center;
        margin-top: 60px;
        img {
          width: 309px;
          height: 52px;
          margin-right: 5px;
          margin-bottom: -1px;
          display: inline-block;
        }
        span {
          font-size: 45px;
          line-height: 1.1;
        }
      }
    }
    @media (min-width: 992px) {
      .container {
        position: relative;
        height: 420px;
        width: 960px;
      }
      .devices {
        bottom: -10px;
        left: 0;
        max-width: 480px;
        margin: 0;
        position: absolute;
      }
      .reasons-list {
        position: absolute;
        bottom: 100px;
        right: 50px;
        width: auto;
        margin: 0;
        li {
          font-size: 25px;
        }
      }
      .large {
        text-align: center;
        margin-top: 60px;
        img {
          width: 309px;
          height: 52px;
          margin-right: 5px;
          margin-bottom: -1px;
          display: inline-block;
        }
        span {
          font-size: 45px;
          line-height: 1.1;
        }
      }
    }
  }

  .form-wrap {
    margin: 0 0 40px;

    .byline{
      font-size: 25px;
      color: #ff8300;
      text-align: center;
      margin: 0;
      padding: 35px 20px 35px;
    }

    .signup-form {
      text-align: center;
      margin: 0 15px;
      form {
        display: inline-block;
      }
    }

    .email{
      float: left;
      font-size: 16px;
      padding: 0 10px;
      border: 1px solid #c0c0c0;
      width: 100%;
      outline: none;
      margin-right: -1px;
      line-height: 40px;
      display: block;
      border-radius: 0;
      -webkit-border-radius: 0;
      box-shadow: 0;
      -webkit-box-shadow: 0;
    }

    .submit{
      background: #ff8300;
      border: 1px solid #ff8300;
      float: left;
      color: #FFF;
      font-size: 16px;
      padding: 0 20px;
      line-height: 40px;
      width: 100%;
      border-radius: 0;
      -webkit-border-radius: 0;
      box-shadow: 0;
      -webkit-box-shadow: 0;
    }

    @media (min-width: 768px) {
      .email{
        width: 256px;
      }
      .submit {
        width: auto;
      }
    }

    &.ended{
      width: 500px;
      margin-top: 27px;
    }

    &.ended .thanks{
      text-transform: uppercase;
      font-weight: 500;
      color: #074e6f;
      text-align: center;
      font-size: 22px;
      letter-spacing: 1px;
      line-height: 36px;
      margin-bottom: 14px;
    }

    &.ended .compiling{
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 30px;
      color: #555556;
      text-align: center;
      font-weight: 500;
      margin-bottom: 24px;
    }

    &.ended .go-to{
      font-style: italic;
      font-size: 16px;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 25px;
    }

    &.ended .go-to a{
      color: #074e6f;
      font-size: 19px;
      font-weight:bold;
      text-transform: uppercase;
      font-style: normal;
      text-decoration: none;
    }

    &.ended .go-to a:hover{
      color: #955F5D;
    }

    &.ended .again{
      font-weight: 500;
      color: #555556;
      text-transform: uppercase;
      font-size: 14px;
      text-align: center;
    }

    &.ended{
      width: 500px;
      margin-top: 27px;
    }

    &.ended .thanks{
      text-transform: uppercase;
      font-weight: 500;
      color: #074e6f;
      text-align: center;
      font-size: 22px;
      letter-spacing: 1px;
      line-height: 36px;
      margin-bottom: 14px;
    }

    &.ended .compiling{
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 30px;
      color: #555556;
      text-align: center;
      font-weight: 500;
      margin-bottom: 24px;
    }

    &.ended .go-to{
      font-style: italic;
      font-size: 16px;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 25px;
    }

    &.ended .go-to a{
      color: #074e6f;
      font-size: 19px;
      font-weight:bold;
      text-transform: uppercase;
      font-style: normal;
      text-decoration: none;
    }

    &.ended .go-to a:hover{
      color: #955F5D;
    }

    &.ended .again{
      font-weight: 500;
      color: #555556;
      text-transform: uppercase;
      font-size: 14px;
      text-align: center;
    }
  }
}

/* Refer a friend page */

#refer {
  background: #FFF;

  .header {
    min-height: 80px;
    text-align: center;
    img {
      width: 220px;
      height: 37px;
      display: block;
      margin: 25px auto 0;
    }
    p {
      color: #C2C8D3;
      font-weight: 700;
      margin: 10px 0 20px;
      display: inline-block;
      font-size: 22px;
      position: relative;
    }
  }

  .hero {
    background: #d8d9db;
    height: auto;

    .for-example {
      background: #f3f4f4;
      padding: 20px;
      border: 2px dashed #C5CAD3;
      margin: 25px 0 30px;
      font-size: 16px;
      position: relative;
      .wrap-text {
      }
      h3 {
        margin: 0 0 15px;
        color: #3A424A;
        font-size: 20px;
        font-weight: 600;
      }
      p {
        margin: 0 0 7px 0;
      }
      .barcode-icon {
        position: absolute;
        top: 0;
        right: 20px;
        color: #ccc;
        font-size: 60px;
      }
      .scissors-icon {
        position: absolute;
        bottom: -20px;
        right: 20%;
        color: #666;
        font-size: 30px;
      }
      strong {
        color: #ff8300;
        i {
          width: 20px;
        }
      }
    }
  }

  .share-wrap {
    float: none;
    margin: 0 10px 0;

    .title {
      font-size: 26px;
      font-weight: bold;
      color: #3a424a;
      margin-top: 18px;
    }

    .subtitle {
      color: #565656;
      font-size: 14px;
      text-transform: none;
      margin-top: 15px;
    }

    .copy-link {
      border: 1px solid #D1D0C7;
      background: #FFF;
      padding: 10px;
      width: 100%;
      text-transform: none;
      font-size: 14px;
      margin: 20px auto 0;
    }

    .social-links {
      width: 120px;
      height: 37px;
      margin: 25px auto 0;
      text-align: center;
      a, div {
        display: inline-block;
      }
      .fb {
        background: url(/assets/fb.png);
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        opacity: .8;
        &:hover {
          opacity: 1;
        }
      }
      .twit {
        background: url(/assets/twit.png);
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        opacity: .8;
        &:hover {
          opacity: 1;
        }
      }
      .sep {
        height: 28px;
        width: 1px;
        background: #BAB9BA;
        margin: 0 20px;
      }
    }

  }

  .prizes {
    width: 100%;
    background: #F9F9F9;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;

    .page-content{
      position: relative;
    }

    .callout{
      text-align: center;
      font-size: 16px;
      color: #074E6F;
      font-weight: bold;
      margin: 20px 0 0 0;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .progress{
      height: 4px;
      width: 100%;
      background-size: 1px 4px;
      z-index: 0;
      background: #ECE5DF;
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    .progress .mover .bar{
      background: #FE8200;
      width: 165px;
      height: 4px;
      -webkit-background-size: 1px 4px;
      background-size: 1px 4px;
    }
  }

  .prize-two .progress .mover .bar{ width: 312px; }
  .prize-three .progress .mover .bar{ width: 566px; }
  .prize-four .progress .mover .bar{ width: 820px; }
  .prize-five .progress .mover .bar{ width: 1120px; }

  .policy{
    text-align: center;
    margin: 30px 0;
    a {
      font-size: 12px;
      color: #CCCCCC;
      width: 100%;
      font-weight: 500;
      margin-top: 5px;
      display: block;
      text-decoration: none;
    }
  }

  .we-will-share {
    padding: 20px 0;
    text-align: center;
    color: #074E6F;
    font-size: 20px;
    p {
      margin: 0;
    }
  }

  .referrals-count {
    margin: 40px 0;
    text-align: center;
    font-weight: bold;
    color: #ff8300;
    font-size: 20px;
  }

  @media (min-width: 768px) {
    .header {
      img {
        width: 220px;
        height: 37px;
        display: inline-block;
        margin: 0;
      }
      p {
        margin: 13px 0 0 10px;
        font-size: 26px;
        position: relative;
        top: 7px;
      }
    }
    .share-wrap {
      float: left;
      width: 40%;
      margin: 20px 0 0;
      .title {
        font-size: 32px;
      }
    }
    .hero {
      height: 350px;

      .for-example {
        width: 500px;
        float: right;
        margin-top: 45px;
        padding: 20px 20px 20px 30px;
        p {
          margin: 0 0 7px 10px;
        }
        strong {
          margin-left: 15px;
        }
      }
    }
  }
}

.privacy-policy {
  padding: 40px 40px 20px;
}